language: node_js
node_js:
  - '8'

install:
  - npm install

script:
  - npm test

before_deploy:
  - eval "$(ssh-agent -s)"
  - echo $PRIVATE_KEY > /tmp/deploy_rsa64
  - base64 -d < /tmp/deploy_rsa64 > /tmp/deploy_rsa
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa

addons:
  ssh_known_hosts: 138.197.20.170

deploy:
  provider: script
  skip_cleanup: true
  script: bin/deploy.sh
  on:
    branch: master
